<div id="msform">
    <!-- progressbar -->
    <ul id="progressbar">
        <li class="active" id="account"><a routerLink="/prestacion"><strong>Prestación</strong></a></li>
        <li class="noactive" id="personal"><a routerLink="/tarifar"><strong>Tarifación</strong></a></li>
        <li class="noactive" id="payment"><a routerLink="/prestador"><strong>Prestador</strong></a></li>
        <li class="noactive" id="confirm"><a routerLink="/propuesta"><strong>Propuesta Final</strong></a></li>
    </ul>
</div>

<div class="card">
    <div class="card-body">
        <div id="container" class="container">
                <div class="row justify-content-md-center">
                    <div class="col-4 col-sm-12 col-md-4">
                        <div class="form-group">
                            <label for="codigoPrestacion">Código</label>
                            <input type="codigoPrestacion" class="form-control" id="codigoPrestacion" [(ngModel)]="prestacion.codigo">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-4 col-sm-12 col-md-4">
                        <div class="form-group">
                            <label for="dsPrestacion">Descripcion</label>
                            <input type="dsPrestacion" class="form-control" id="dsPrestacion" [(ngModel)]="prestacion.descripcion">
                        </div>
                    </div>
                </div>
            <div class="row justify-content-md-center">
                <div class="col-8 text-center">
                    <button class="btn btn-primary" (click)="tarifar()">Continuar con la Tarifación</button>
                </div>
            </div>
        </div>
    </div>
</div>