<div id="msform">
    <!-- progressbar -->
    <ul id="progressbar">
        <li class="active" id="account"><a routerLink="/prestacion"><strong>Prestación</strong></a></li>
        <li class="active" id="personal"><a routerLink="/tarifar"><strong>Tarifación</strong></a></li>
        <li class="active" id="payment"><a routerLink="/prestador"><strong>Prestador</strong></a></li>
        <li class="active" id="confirm"><a routerLink="/propuesta"><strong>Propuesta Final</strong></a></li>
    </ul>
</div>

<div class="card">
    <div class="card-body">
        <div id="container" class="container">
            <div class="row justify-content-md-center">
                <div class="col-12">
                    <div class="form-group">
                        <label for="codigoPrestacion"><h4>Prestador</h4></label>
                        <br>
                        XXXXX - XXXXXXXXXXX - XXXXXXX
                    </div>
                </div>
                <div class="col-12">
                    <table class="table" aria-describedby="Contiene la propuesta final">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Prestación</th>
                            <th scope="col">Tarifa</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>XXXXXX - XXXXXXXXXXXXXX</td>
                            <td>$ 0.000 XXX</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
        